// Colours
$dark-purple: #361999;
$cyan-blue: #78FFF1;
$pink-attack: #FF6495;
$light-grey: #f7f7f7;
$white: white;
$black: black;


@mixin flexRow {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin leftGridHoverEffect {
    cursor: pointer;
    background-color: $white;
    color: $dark-purple;
    font-weight: 600;
    transition: color 1s ease;
}

@mixin buttonBackground ($backgroundColor, $textColor) {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 10px;
    text-align: center;
    border: 3px solid transparent;
    background-color: $backgroundColor;
    color: $textColor;
}

@mixin buttonHover ($hovercolor) {
    cursor: pointer;
    border: 3px solid $hovercolor;
    transition: all 1s ease;
}

body {
    background-color: $white;
}

#navBar {
    height: 80px;
    font-size: 2.5em;
    @include flexRow();
    background-color: $dark-purple;
    p {
        color: $white;
        border-radius: 15px;
        line-height: 0px;
        &:hover {
            cursor: pointer;
            animation-name: pinkHearbeatEffect;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
        @keyframes pinkHearbeatEffect {
            50% {
                color: $pink-attack;
                transform: scale(1.05);
                transition: all 0.2s ease;
            }
        }
    }
    #leftHeaderDiv {
        @include flexRow();
        margin: auto auto auto 2%;
    }
    #rightHeaderDiv {
        @include flexRow();
        margin: auto 4vw auto auto;
        width: 100px;
        }
}

.displayNone {
    display: none !important;
}

.expandGrid {
    grid-template-columns: 0fr 5fr !important;
}


#gridDiv {
    min-height: calc(100vh - 80px);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}
// Left side of Grid - TodayTomorrowWeekDiv and ProjectsDiv
#stickyLeftDiv {
    background-color: $light-grey;
    #todayTomorrowWeekDiv {
        display: flex;
        width: 100%;
        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding-left: 0px;
            margin: 20px 0px 20px 30px;
            li {
                margin-top: 15px;
                font-size: 1.5em;
                &:hover {
                 @include leftGridHoverEffect();
                }
                &.selected {
                    color: red;
                }
            }
        }
    }
    #displayProjectsDiv {
        margin: 20px 0px 0px 20px;
        @include flexRow();
        p {
            line-height: 0px;
            font-size: 1.5em;
        }
        #expandProjectsArrow {
            margin-right: 5%;
        }
        &:hover {
            @include leftGridHoverEffect();
        }
    }
}

#popUpDiv {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9;
    width: fit-content;
    border: 2px $dark-purple solid;
    background-color: $light-grey;
    height: fit-content;
    #todoForm {
        display: grid;
        width: fit-content;
        margin-bottom: 10px;
        grid-template-areas: 
    'popUpHeader'
    'titleAndDescriptionDiv' 
    'priorityAndDueDateDiv'
    'buttonsDiv';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        #popUpHeader {
            grid-area: popUpHeader;
            background-color: $light-grey;
            width: fit-content;
            margin: auto;
            font-size: 1.3em;
            font-weight: 800;
            text-align: center;
        }
        #titleAndDescriptionDiv {
            grid-area: titleAndDescriptionDiv;
            margin: 5px 10px 5px 10px;
            #titleField, #descriptionField {
                @include flexColumn();
            }
            #titleInput, #descriptionInput {
                border-radius: 8px;
                resize: none;
            }
        }
        #priorityAndDueDateDiv {
            grid-area: priorityAndDueDateDiv;
            margin: 5px 10px 5px 10px;
            #priorityField {
                @include flexColumn();
                margin-top: 10px;
                margin-bottom: 25px;
                #priorityDiv {
                    @include flexRow();
                    margin-top: 10px;
                    #lowPriorityImage {
                        content: url('./images/setLow.svg');
                        width: 50px;
                        height: 50px;
                    }
                    #mediumPriorityImage {
                        content: url('./images/setMedium.svg');
                        width: 50px;
                        height: 50px;
                    }
                    #highPriorityImage {
                        content: url('./images/setHigh.svg');
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            #dueDateField {
                @include flexColumn();
                margin-top: 25px;
                margin-bottom: 25px;
            }
            #dueDateInput {
                border-radius: 8px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        #buttonsDiv {
            grid-area: buttonsDiv;
            display: flex;
            flex-direction: row;
            #addButton {
                @include buttonBackground($dark-purple, $white);
                &:hover {
                    @include buttonHover($pink-attack);
                }
            }
            #cancelButton {
                @include buttonBackground($pink-attack, $black);
                &:hover {
                    @include buttonHover($dark-purple);
                }
            }
        }
    }
}

input:valid {
  border: 1px solid green;
} 

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 3px solid $dark-purple;
  }