// Colours
$dark-purple: #361999;
$cyan-blue: #78FFF1;
$pink-attack: #FF6495;
$light-grey: #f7f7f7;
$white: white;


@mixin flexRow {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin leftGridHoverEffect {
    cursor: pointer;
    background-color: $white;
    color: $dark-purple;
    font-weight: 600;
    transition: color 1s ease;
}

body {
    background-color: $white;
}

#navBar {
    height: 80px;
    font-size: 2.5em;
    @include flexRow();
    background-color: $dark-purple;
    p {
        color: $white;
        border-radius: 15px;
        line-height: 0px;
        &:hover {
            cursor: pointer;
            animation-name: pinkHearbeatEffect;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
        @keyframes pinkHearbeatEffect {
            50% {
                color: $pink-attack;
                transform: scale(1.05);
                transition: all 0.2s ease;
            }
        }
    }
    #leftHeaderDiv {
        @include flexRow();
        margin: auto auto auto 2%;
    }
    #rightHeaderDiv {
        @include flexRow();
        margin: auto 4vw auto auto;
        width: 100px;
        }
}

.displayNone {
    display: none !important;
}

.expandGrid {
    grid-template-columns: 0fr 5fr !important;
}


#gridDiv {
    min-height: calc(100vh - 80px);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}
// Left side of Grid - TodayTomorrowWeekDiv and ProjectsDiv
#stickyLeftDiv {
    background-color: $light-grey;
    #todayTomorrowWeekDiv {
        display: flex;
        width: 100%;
        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding-left: 0px;
            margin: 20px 0px 20px 30px;
            li {
                margin-top: 15px;
                font-size: 1.5em;
                &:hover {
                 @include leftGridHoverEffect();
                }
                &.selected {
                    color: red;
                }
            }
        }
    }
    #displayProjectsDiv {
        margin: 20px 0px 0px 20px;
        @include flexRow();
        p {
            line-height: 0px;
            font-size: 1.5em;
        }
        #expandProjectsArrow {
            margin-right: 5%;
        }
        &:hover {
            @include leftGridHoverEffect();
        }
    }
}

#popUpDiv {
    display: flex;
    z-index: 9;
    position: fixed;
    top: 30%;
    left: 40%;
    border: 1px $dark-purple solid;
    background-color: $light-grey;
    width: 40%;
    height: 240px;
    #todoForm {
        display: grid;
        grid-template-areas: 
    'popUpHeader popUpHeader'
    'titleAndDescriptionDiv priorityAndDueDateDiv';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        width: 100%;
        #popUpHeader {
            grid-area: popUpHeader;
            font-size: 1.4em;
            text-align: center;
        }
        #titleAndDescriptionDiv {
            grid-area: titleAndDescriptionDiv;
            margin: 15px;
            #titleField, #descriptionField {
                display: flex;;
                flex-direction: column;
            }
        }
        #priorityAndDueDateDiv {
            grid-area: priorityAndDueDateDiv;
            margin: 15px;
            #priorityField, #dueDateField {
                display: flex;;
                flex-direction: column;
            }
        }
    }
}

